.address {
  padding: 43px 20px;
  padding-bottom: 0;
  text-align: center;
  background: $white;
}

.address__title {
  margin: 0;
  font-size: 24px;
  font-weight: 100;
}

.address__list {
  padding-top: 15px;
}

.address__item {
  padding-top: 13px;
}

.address__text {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.address__description {
  font-size: 24px;
  font-weight: 100;
  color: $pink;

  &--mail:hover {
    position: relative;
    color: $dark-blue;

    &::before {
      position: absolute;
      width: 252px;
      height: 29px;
      content: "";
      border-bottom: 2px solid $dark-blue;
    }
  }

  &--mail:active {
    position: static;
    color: $super-dark-gray;

    &:active::before {
      display: none;
    }
  }
}

@media (min-width: $tablet-width) {
  .address {
    padding: 0;
    padding-top: 43px;
  }

  .address__title {
    padding: 0 100px;
    font-size: 39px;
    line-height: 50px;
  }

  .address__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0;
  }

  .address__item {
    min-width: 300px;
    padding-top: 38px;

    &--address {
      max-width: 250px;
      margin: 0 auto;
    }
  }

  .address__text {
    font-size: 19.5px;
  }
}

@media (min-width: $desktop-width) {
  .address {
    padding-top: 63px;
  }

  .address__title {
    padding: 0 200px;
    font-size: 48px;
    line-height: 60px;
  }

  .address__list {
    justify-content: space-between;
    padding: 0 40px;
    padding-top: 54px;
  }

  .address__item {
    min-width: 250px;
    padding: 0;

    &--phone {
      order: 1;
    }

    &--address {
      order: 2;
    }

    &--mail {
      order: 3;
    }
  }

  .address__text {
    padding-bottom: 20px;
  }
}
