*,
::after,
::before {
  box-sizing: border-box;
}

.body {
  padding: 0;
  margin: 0;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: $dark-blue;
  background-image: url("./../../img/bg-back-mobile@1x.jpg");
  background-repeat: repeat-x;
  background-position: center 0;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("./../../img/bg-back-mobile@2x.jpg");
    background-size: 700px 462px;
    background-position: center 0;
    background-repeat: repeat-x;
  }

  &--opened,
  &--no-javascript {
    background-position: center 260px;
  }

  &--no-javascript .page-header {
    background-color: $dark-blue;
  }

  &--no-javascript .main-nav__toggle {
    display: none;
  }

  &--no-javascript .main-nav__hidden {
    display: block;
  }
}

.visually-hidden {
  position: absolute;
  left: 0;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
}

.list-none {
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .body {
    background-image: url("./../../img/bg-back-tablet@1x.jpg");
    background-position: center 0;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("./../../img/bg-back-tablet@2x.jpg");
      background-size: 1200px 729px;
      background-position: center 0;
      background-repeat: no-repeat;
    }
  }

  .body--opened {
    background-position: center 256px;
  }
}

@media (min-width: $desktop-width) {
  .body {
    background-image: url("./../../img/bg-back-desktop@1x.jpg");
    background-position: center 0;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("./../../img/bg-back-desktop@2x.jpg");
      background-size: 2560px 853px;
      background-position: center 0;
      background-repeat: no-repeat;
    }

    &--no-javascript .page-header {
      background-color: $header-black;
    }
  }
}
