.button {
  display: block;
  width: 280px;
  padding: 16px 0;
  margin: 0 auto;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;
}

.button--downloads {
  color: $white;
  border: 3px solid $white;

  &:hover {
    color: $pink;
    background-color: $white;
  }

  &:active {
    color: $clear-pink;
  }
}

.button--post {
  margin-bottom: 10px;
  color: $pink;
  border: 3px solid $pink;

  &:hover {
    color: $white;
    background-color: $pink;
  }

  &:active {
    color: $clear-white;
    background-color: $pink;
  }
}

.button--reset {
  color: $gray;
  border: 3px solid $gray;

  &:hover {
    color: $dark-gray;
    border-color: $dark-gray;
  }

  &:active {
    color: $clear-white;
    background-color: $dark-gray;
    border-color: $dark-gray;
  }
}

.button--form,
.button--error,
.button--thanks {
  padding: 16.5px 0;
  line-height: 30px;
  text-transform: uppercase;
  color: $white;
  background-color: $green;
  border: none;
  border-radius: 2px;

  &:hover {
    background-color: $hover-green;
  }

  &:active {
    color: $clear-white;
    background-color: $hover-green;
  }

  &:disabled {
    background-color: $double-gray;
  }
}

@media (min-width: $tablet-width) {
  .button {
    width: 300px;
    margin: 0;
  }

  .button--form {
    padding: 22px 0;
  }
}

@media (min-width: $desktop-width) {
  .button--downloads {
    font-size: 21px;
  }
}
