.contestant {
  margin: 0;
  margin-bottom: 22px;
  padding: 0 20px;
  border: none;
}

.contestant__checkbox,
.contestant__radio {
  padding: 35px 20px;
  background-color: $light-gray;
}

.contestant__title {
  margin: 0;
  padding: 0 15px;
  padding-bottom: 40px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $pink;
}

.contestant__title--comment {
  padding-top: 18px;
  padding-bottom: 17px;
}

@media (min-width: $tablet-width) {
  .contestant {
    padding: 45px 60px;
    background: $white;
  }

  .contestant__names {
    display: flex;
    flex-direction: column;
    order: 1;
    padding: 0;
  }

  .contestant__radio {
    order: 2;
    border: 2px solid $double-gray;
  }

  .contestant__checkbox {
    order: 4;
    border: 2px solid $double-gray;
  }

  .contestant__contacts {
    display: flex;
    flex-direction: column;
    order: 3;
    border: 2px solid $double-gray;
  }

  .contestant__comments {
    order: 5;
    border: 2px solid $double-gray;
  }

  .contestant__send {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    order: 6;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .contestant {
    position: relative;
  }

  .contestant__names,
  .contestant__radio {
    width: 435px;
  }

  .contestant__contacts,
  .contestant__checkbox,
  .contestant__comments,
  .contestant__send {
    width: 100%;
  }

  .contestant__names {
    justify-content: space-between;
  }

  .contestant__contacts {
    flex-direction: row;
  }

  .contestant__title {
    position: absolute;
    top: -10px;
    left: 10%;
    padding: 0 25px;
    background-color: white;
  }
}
