.contestant {
  border: none;

  &--names {
    padding: 32px 20px;
    padding-bottom: 25px;
  }

  &--radio,
  &--checkbox {
    background-color: $light-gray;
  }

  &--contacts {
    padding: 25px 20px;
    padding-top: 30px;
  }

  &--comments {
    padding: 38px 20px;
  }

  &--send {
    padding-bottom: 15px;
  }
}

.contestant__app {
  padding: 38px 20px;
  padding-bottom: 8px;
}

.contestant__progress {
  padding: 38px 20px;
  padding-bottom: 0;
}

.contestant__title {
  margin: 0;
  padding: 0 15px;
  padding-bottom: 40px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $pink;

  &--contacts {
    display: none;
  }

  &--app {
    padding-bottom: 36px;
  }

  &--comments {
    padding-bottom: 17px;
  }
}

.contestant__radio-block {
  position: relative;
  display: flex;
  padding-bottom: 36px;
}

.contestant__checkboxes-block {
  position: relative;
  display: flex;
  padding-bottom: 44px;
}

.contestant__label-text {
  padding-left: 22px;
  text-transform: uppercase;
  color: $pink;
}

.contestant__label-comment {
  margin-bottom: 48px;
}

.contestant__label {
  padding: 4px 0;
  margin-left: 70px;
  font-size: 18px;
  cursor: pointer;

  &:focus::before {
    outline: 2px solid $pink;
  }

  &--radio {
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 39px;
      height: 39px;
      content: "";
      background-color: white;
      border: 2px solid $double-gray;
      border-radius: 50%;
      cursor: pointer;
    }

    &:hover::before {
      border-color: $dark-blue;
    }

    &:active::before {
      border-color: $pink;
    }

    &::after {
      position: absolute;
      top: 12px;
      left: 12px;
      width: 15px;
      height: 15px;
      content: "";
      background-color: $pink;
      border-radius: 50%;
    }
  }

  &--checkbox {
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 39px;
      height: 39px;
      content: "";
      background: $white;
      border: 2px solid $double-gray;
      border-radius: 2px;
      cursor: pointer;
    }

    &:hover::before {
      border-color: $dark-blue;
    }

    &:active::before {
      border-color: $pink;
    }

    &::after {
      position: absolute;
      top: 11px;
      left: 9px;
      width: 22px;
      height: 11px;
      content: "";
      border-bottom: 3px solid $pink;
      border-left: 3px solid $pink;
      border-radius: 2px;
      transform: rotate(-45deg);
    }
  }
}

@media (min-width: $tablet-width) {
  .contestant {
    position: relative;
    width: 100%;
    margin-bottom: 65px;
    background: $white;
    border: 2px solid $double-gray;
    border-radius: 3px;

    &--names {
      display: flex;
      flex-direction: column;
      order: 1;
      width: 100%;
      padding: 0;
      margin-bottom: 14px;
      border: none;
    }

    &--radio {
      order: 2;
      border: none;
    }

    &--checkbox {
      order: 4;
      border: none;
    }

    &--contacts {
      display: flex;
      flex-direction: column;
      order: 3;
      padding: 20px 58px;
      padding-bottom: 27px;
    }

    &--comments {
      order: 5;
      padding: 45px 58px;
      padding-bottom: 40px;
      margin-bottom: 68px;
    }

    &--send {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      order: 6;
      padding: 0;
      margin-bottom: 52px;
      border: none;
    }
  }

  .contestant__app {
    padding: 52px 58px;
    padding-bottom: 20px;
    border: 2px solid $double-gray;
    border-radius: 3px;
  }

  .contestant__progress {
    padding: 52px 58px;
    padding-bottom: 5px;
    border: 2px solid $double-gray;
    border-radius: 3px;
  }

  .contestant__title {
    position: absolute;
    top: -9px;
    display: block;
    background-color: $white;

    &--contacts {
      left: 177px;
      padding: 0 32px;
    }

    &--progress {
      left: 90px;
      padding: 0 33px;
    }

    &--app {
      left: 126px;
      padding: 0 24px;
    }

    &--comments {
      left: 179px;
      padding: 0 37px;
    }
  }

  .contestant__label {
    margin-left: 59px;
  }

  .contestant__label-name {
    display: flex;
    align-items: baseline;
    margin-bottom: 52px;
  }

  .contestant__label-text {
    padding: 0;
    margin-right: 19px;
  }
}

@media (min-width: $desktop-width) {
  .contestant {
    &--names,
    &--radio {
      max-width: 435px;
    }

    &--names {
      margin-left: 0;
      margin-top: 6px;
    }

    &--contacts {
      flex-direction: row;
      justify-content: space-between;
      padding: 42px 23px;
      padding-bottom: 12px;
    }

    &--comments {
      padding: 42px 58px;
      padding-bottom: 34px;
      margin-bottom: 65px;
    }

    &--send {
      margin-bottom: 0;
    }
  }

  .contestant__app {
    padding: 55px 74px;
    padding-bottom: 20px;
  }

  .contestant__progress {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 8px;
    padding-left: 13px;
    padding-bottom: 12px;
  }

  .contestant__title {
    &--contacts,
    &--comments {
      left: 338px;
    }

    &--progress {
      left: 252px;
    }

    &--app {
      left: 33px;
    }
  }

  .contestant__checkboxes-block {
    min-width: 260px;
    margin-left: auto;

    &--selfie {
      order: 1;
    }

    &--chuck {
      order: 2;
    }

    &--tower {
      order: 3;
    }

    &--burned {
      order: 4;
    }

    &--souvenirs {
      order: 5;
    }

    &--hotel {
      order: 6;
    }
  }

  .contestant__label {
    margin-left: 60px;
  }
}
