.container-fixed {
  width: 320px;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
  background-color: $light-grey;
}

.container-fluid__angle-white {
  background: $light-grey url("./../img/bg-triangle-white.svg") no-repeat center top;
  background-size: contain;
}

@media (min-width: $tablet-width) {
  .container-fixed {
    width: 660px;
  }

  .container-fluid--effect {
    background-color: $white;
  }
}

@media (min-width: $desktop-width) {
  .container-fixed {
    width: 960px;
  }

  .container-fluid--effect {
    background-color: $light-grey;
  }

  .container-fluid--filters {
    background-color: $white;
  }
}
