.downloads__image {
  width: 320px;
  height: 394px;
  background: url("./../../img/iphone-hand-mobile@1x.png") no-repeat left bottom;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("./../../img/iphone-hand-mobile@2x.png");
    background-size: 258px 286px;
    background-position: left bottom;
    background-repeat: no-repeat;
  }
}

.downloads__background {
  padding-top: 28px;
  background-color: $dark-blue;
}

.downloads__text {
  display: none;
}

@media (min-width: $tablet-width) {
  .downloads {
    max-width: 660px;
    padding: 96px 20px;
    padding-bottom: 108px;
    margin: 0 auto;
    background: url("./../../img/iphone-hand-tablet@1x.png") no-repeat -20px bottom;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("./../../img/iphone-hand-tablet@2x.png");
      background-size: 700px 545px;
      background-position: -20px bottom;
      background-repeat: no-repeat;
    }
  }

  .downloads__image {
    display: none;
  }

  .downloads__background {
    max-width: 300px;
    padding-top: 0;
    background-color: transparent;
  }

  .downloads__text {
    display: block;
    margin: 0;
    padding: 0 50px;
    padding-bottom: 31px;
    font-size: 40px;
    line-height: 48px;
    font-weight: 100;
    text-align: center;
    color: $white;
  }
}

@media (min-width: $desktop-width) {
  .downloads {
    max-width: 960px;
    padding: 86px 10px;
    padding-bottom: 123px;
    background: url("./../../img/iphone-hand-desktop@1x.png") no-repeat 25px bottom;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("./../../img/iphone-hand-desktop@2x.png");
      background-size: 1050px 645px;
      background-position: 25px bottom;
      background-repeat: no-repeat;
    }
  }

  .downloads__text {
    padding: 21px 30px;
    padding-bottom: 53px;
    font-size: 50px;
    line-height: 60px;
  }
}
