.effect {
  display: none;
}

@media (min-width: $tablet-width) {
  .effect {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-top: 60px;
    padding-right: 35px;
    background-color: $white;
    background-size: contain;
  }

  .effect__image {
    position: relative;
    width: 240px;
    height: 280px;
    background: url("./../img/icon-timer.svg") no-repeat;
    background-size: contain;

    &::before {
      position: absolute;
      top: 55px;
      left: 18px;
      display: block;
      content: "";
      width: 204px;
      height: 204px;
      border: 15px solid $pink;
      border-radius: 50%;
    }

    &::after {
      position: absolute;
      top: 138px;
      left: 67px;
      content: "24";
      font-size: 91px;
      font-weight: 600;
      text-align: center;
      color: $pink;
    }
  }

  .effect__block {
    align-self: center;
    max-width: 310px;
    padding-top: 11px;
  }

  .effect__title {
    margin: 0;
    font-size: 30px;
    line-height: 35px;
    color: $black;
  }

  .effect__description {
    margin: 0;
    padding-top: 13px;
    padding-bottom: 8px;
    line-height: 24px;
  }

  .effect__enter-desktop {
    display: none;
  }

  .effect__linc {
    color: $pink;
  }
}

@media (min-width: $desktop-width) {
  .effect {
    justify-content: flex-start;
    padding: 40px 10px;
    padding-bottom: 68px;
    font-size: 18px;
    background-color: $light-gray;
  }

  .effect__block {
    max-width: 600px;
    padding-top: 40px;
    padding-left: 68px;
  }

  .effect__description {
    padding-top: 22px;
    padding-bottom: 33px;
    font-size: 18px;
    line-height: 30px;
  }

  .effect__enter-tablet {
    display: none;
  }

  .effect__enter-desktop {
    display: inline;
  }

  .effect__title {
    font-size: 32px;
  }

  .effect__image {
    width: 300px;
    height: 345px;

    &::before {
      top: 70px;
      left: 22px;
      width: 253px;
      height: 253px;
    }

    &::after {
      top: 175px;
      left: 75px;
      font-size: 120px;
    }
  }
}
