.features {
  padding: 20px;
  padding-bottom: 0;
  background-color: $light-grey;
}

.features__item {
  padding-bottom: 20px;
  margin: 0;
  text-align: center;
}

.features__topic {
  padding-bottom: 10px;
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: $black;
}

.features__description {
  margin: 0;
}
