.filters {
  padding-bottom: 42px;
  background-color: $light-gray;
}

.filters__your-picture {
  transform: translate(20px, 20px);
}

.filters__list {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 54px;
  padding-right: 66px;
  padding-bottom: 75px;
  margin-bottom: 38px;
  border-bottom: 1px solid $super-light-blue;
}

.filters__item {
  position: relative;
}

.filters__radio {
  position: relative;
  z-index: 1;
  display: block;
  cursor: pointer;

  &--crop {
    width: 46px;
    height: 46px;
  }

  &--fill {
    width: 48px;
    height: 43px;
  }

  &--contrast {
    width: 32px;
    height: 32px;
  }
}

.filters__radio:hover + .filters-form__radio + .filters__checked-block > .filters__svg {
  fill: $extra-dark-gray;
}

.filters__svg {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  fill: $dark-gray;
  cursor: pointer;
}

.filters__range {
  position: absolute;
  display: none;
  width: 240px;
  height: 2px;
  background-color: $dark-blue;

  &::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    background-color: $light-gray;
    border: 2px solid $pink;
    border-radius: 50px;
    cursor: pointer;
  }

  &:active::before {
    background-color: $pink;
  }

  &--crop {
    top: 85px;
    left: -15px;

    &::before {
      top: -6px;
      left: 192px;
    }
  }

  &--fill {
    top: 83px;
    left: -98px;

    &::before {
      top: -6px;
      left: 30px;
    }
  }

  &--contrast {
    top: 78px;
    left: -184px;

    &::before {
      top: -6px;
      left: 120px;
    }
  }
}

.filters__button {
  background-color: transparent;
}

@media (min-width: $tablet-width) {
  .filters {
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
    padding-bottom: 30px;
  }

  .filters__your-picture {
    min-width: 300px;
    min-height: 400px;
    margin: 15px 0;
    transform: none;
  }

  .filters__list {
    flex-direction: column;
    padding: 0;
    margin: 0;
    border: none;
  }

  .filters__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 275px;
    padding: 25px 0;
    border-bottom: 1px solid $super-light-blue;
  }

  .filters__radio:hover + .filters-form__radio + .filters__checked-block > .filters__svg {
    fill: $pink;
  }

  .filters__svg {
    top: 0;
    left: 0;
    fill: $pink;

    &--contrast {
      transform: translate(5px, 3px);
    }
  }

  .filters__radio,
  .filters__svg {
    &--crop {
      width: 22px;
      height: 22px;
      transform: translate(9px, 27px);
    }

    &--fill {
      width: 24px;
      height: 22px;
      transform: translate(9px, 27px);
    }

    &--contrast {
      width: 16px;
      height: 16px;
      transform: translate(14px, 25px);
    }
  }

  .filters__range {
    position: static;
    display: block;
    width: 202px;
    transform: translateX(-12px);

    &--crop::before {
      left: 146px;
    }

    &--fill::before {
      left: 25px;
    }

    &--contrast::before {
      left: 96px;
    }
  }

  .filters__buttons-block {
    margin-top: auto;
    padding-bottom: 25px;
  }

  .filters__button {
    max-width: 260px;
    margin: 25px 14px;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .filters {
    max-width: 940px;
    padding-top: 37px;
    padding-right: 60px;
    padding-bottom: 30px;
    padding-left: 80px;
  }

  .filters__your-picture {
    margin: 17px 0;
  }

  .filters__item {
    width: 100%;
    padding: 14px 18px;
    padding-left: 0;

    &:last-child {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  .filters__svg {
    top: 16px;
  }

  .filters__radio,
  .filters__svg {
    transform: none;

    &--crop {
      width: 47px;
      height: 46px;
    }

    &--fill {
      width: 48px;
      height: 46px;
      transform: none;
    }

    &--contrast {
      width: 32px;
      height: 32px;
      transform: translate(8px, 0);
    }
  }

  .filters__range {
    width: 288px;

    &--crop::before {
      left: 71px;
    }

    &--fill::before {
      left: 247px;
    }

    &--contrast::before {
      left: 160px;
    }
  }

  .filters__button {
    max-width: 185px;
    margin: 0;
    font-size: 18px;
  }

  .filters__buttons-block {
    display: flex;
    justify-content: space-between;
    padding-bottom: 27px;
  }
}
