.filter-name {
  display: none;
}

@media (min-width: $tablet-width) {
  .filter-name {
    display: block;
    border-left: 2px solid $double-gray;
    border-top: 2px solid $double-gray;
  }

  .filter-name__item {
    min-width: 153px;
    padding: 7.5px 15px;
    vertical-align: middle;
    background-color: $white;
    border-bottom: 2px solid $double-gray;
  }
}

@media (min-width: $desktop-width) {
  .filter-name__item {
    min-width: 232px;
    padding: 14.5px 20px;
    font-size: 18px;
  }
}
