.form {
  position: relative;
}

.form__input {
  margin-top: 5px;
  margin-bottom: 17px;
}

.form__input,
.form__textarea {
  width: 100%;
  padding: 14.5px 20px;
  line-height: 30px;
  border: 2px solid $double-gray;
  border-radius: 3px;

  &:hover {
    border-color: $dark-blue;
  }

  &:focus {
    border-color: $pink;
    outline: none;
  }

  &::placeholder {
    font-family: "OpenSans", "Arial", sans-serif;
    font-size: 18px;
    color: $dark-blue;
  }
}

.form__textarea {
  max-height: 200px;
}

.form__radio,
.form__checkbox {
  display: none;
}

.form__radio:not(:checked) + .contestant__label--radio::after,
.form__checkbox:not(:checked) + .contestant__label--checkbox::after {
  display: none;
}

.form__required {
  display: block;
  padding: 0;
  margin: 0;
  margin-top: 35px;
  text-align: center;
  text-transform: uppercase;

  &--color {
    color: $pink;
  }

  &--extra {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .form {
    display: flex;
    flex-direction: column;
    max-width: 660px;
    padding: 0 20px;
    margin: 0 auto;
  }

  .form__input {
    margin: 0;
  }

  .form__textarea {
    max-height: 193px;
  }

  .form__required {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .form {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .form__textarea {
    max-height: 127px;
  }

  .form__required--extra {
    display: inline;
  }
}
