.icons {
  max-width: 240px;
  padding: 33px 0;
  padding-bottom: 30px;
  margin: 0 auto;
}

.icons__list {
  display: flex;
  justify-content: space-between;
  padding: 0 17px;
}

.icons__item {
  align-self: baseline;
}

.icons__description {
  margin-top: 12px;
  margin-bottom: 0;
  line-height: 24px;
  font-weight: 100;
  text-align: center;
  color: $white;
}

@media (min-width: $tablet-width) {
  .icons {
    max-width: 300px;
    padding: 0;
    margin: 0;
  }

  .icons__list {
    padding-right: 50px;
    padding-top: 45px;
    padding-bottom: 29px;
    padding-left: 47px;
  }

  .icons__description {
    font-size: 18px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .icons {
    padding: 0;
  }

  .icons__list {
    padding: 68px 45px;
    padding-bottom: 44px;
  }
}
