.icons {
  max-width: 240px;
  padding: 32px 0;
  margin: 0 auto;
}

.icons__description {
  margin: 0;
  line-height: 24px;
  font-weight: 100;
  text-align: center;
  color: $white;
}

.icons__list {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.icons__item {
  align-self: baseline;
}

@media (min-width: $tablet-width) {
  .icons {
    max-width: 300px;
    padding: 0;
    margin: 0;
  }

  .icons__list {
    padding: 51px;
    padding-top: 42px;
    padding-bottom: 30px;
  }

  .icons__description {
    font-size: 18px;
    padding-bottom: 10px;
  }
}

@media (min-width: $desktop-width) {
  .icons {
    padding: 0;
  }

  .icons__list {
    padding: 60px 45px;
    padding-bottom: 50px;
  }

  .icons__description {
    font-size: 18px;
  }
}
