.map {
  min-height: 613px;
  background: url("./../img/bg-map-mobile@1x.png") repeat-x center bottom;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("./../img/bg-map-mobile@2x.jpg");
    background-size: 320px 645px;
    background-position: center bottom;
    background-repeat: repeat-x;
  }
}

.map__address {
  min-height: 447px;
  background: url("./../img/bg-triangle-white-footer.svg") no-repeat center bottom;
  background-size: cover;
}

.map__marker {
  max-width: 320px;
  min-height: 165px;
  margin: auto;
}

.map__marker-image {
  transform: translate(144px, 50px);
}

@media (min-width: $tablet-width) {
  .map {
    min-height: 777px;
    background: url("./../img/bg-map-tablet@1x.jpg") repeat-x center 56px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("./../img/bg-map-tablet@2x.jpg");
      background-size: 700px 848px;
      background-position: center 60px;
      background-repeat: repeat-x;
    }
  }

  .map__address {
    min-height: 472px;
  }

  .map__marker {
    min-height: 305px;
  }

  .map__marker-image {
    transform: translate(144px, 130px);
  }
}

@media (min-width: $desktop-width) {
  .map {
    min-height: 868px;
    background: url("./../img/bg-map-desktop@1x.jpg") repeat-x center 89px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("./../img/bg-map-desktop@2x.jpg");
      background-size: 1200px 976px;
      background-position: center 100px;
      background-repeat: repeat-x;
    }
  }

  .map__address {
    min-height: 467px;
  }

  .map__marker {
    min-height: 400px;
  }

  .map__marker-image {
    transform: translate(144px, 165px);
  }
}
