.page-header {
  position: relative;
  background-color: $dark-blue;
}

@media (min-width: $desktop-width) {
  .page-header {
    padding: 0 10px;
    background-color: rgba(0, 0, 0, 0.32);
  }

  .page-header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 110px;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
  }
}
