.photo {
  padding: 0 20px;
  background-color: $white;
}

.photo__item {
  margin: 20px;
  margin-top: 0;

  &--best {
    position: relative;

    &::before {
      position: absolute;
      right: 0;
      width: 140px;
      height: 36px;
      padding: 6px 0;
      content: "панорама дня";
      font-size: 12px;
      font-weight: 600;
      line-height: 24px;
      text-transform: uppercase;
      text-align: center;
      color: $white;
      background-color: $pink;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .photo {
    padding: 0;
  }

  .photo__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .photo__item {
    display: flex;
    max-width: 300px;
    margin-bottom: 20px;

    &--best {
      min-width: 620px;
    }

    &:last-child {
      margin-bottom: 20px;
    }
  }

  .photo__item--best > .user,
  .photo__item--best > .user > .user__info {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .photo {
    padding: 0 10px;
  }

  .photo__item {
    margin-bottom: 50px;

    &--best {
      min-width: 960px;
    }
  }
}
