.promo {
  padding: 14px 30px;
  padding-bottom: 34px;
  margin: 0 auto;
  background-color: $white;
}

.promo__item {
  padding-top: 26px;
  margin: 0;
  font-size: 24px;
  font-weight: 100;
  text-align: center;
}

.promo__enter {
  display: none;
}

@media (min-width: $tablet-width) {
  .promo {
    padding: 46px 20px;
  }

  .promo__item {
    padding: 0;
    font-size: 40px;
    line-height: 48px;
  }

  .promo__enter {
    display: inline;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    padding: 67px 0;
    padding-bottom: 78px;
  }

  .promo__item {
    font-size: 50px;
    line-height: 60px;
  }
}
