.rate {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 470px;
  max-width: 100%;
  background-color: transparent;
  overflow: hidden;
}

.rate__carousel {
  align-self: center;
}

.rate__slider {
  align-self: flex-end;
}

@media (min-width: $tablet-width) {
  .rate {
    min-height: auto;
    padding: 110px 20px;
    padding-bottom: 70px;
  }

  .rate__slider {
    display: none;
  }
}
