.rate {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 470px;
  max-width: 100%;
  background-color: transparent;
  overflow: hidden;
}

.rate__carousel {
  position: absolute;
  top: 91px;
  left: -256px;
}

.rate__slider {
  position: absolute;
  bottom: 0;
  left: 121px;
}

@media (min-width: $tablet-width) {
  .rate {
    min-height: auto;
    padding-top: 87px;
    padding-bottom: 70px;
  }

  .rate__slider {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .rate {
    padding-top: 151px;
    padding-bottom: 95px;
  }
}
