.reviews {
  position: relative;
  padding: 42px 20px;
  padding-bottom: 5px;
  background-color: $white;
}

.reviews__list {
  padding-bottom: 36px;
}

.reviews__item {
  margin: 0;
  display: none;
  text-align: center;

  &--active {
    display: block;
  }
}

.reviews__title {
  padding-bottom: 13px;
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: $black;
}

.reviews__description {
  margin: 0;
}

.reviews__subtitle,
.reviews__button {
  display: none;
}

@media (min-width: $tablet-width) {
  .reviews {
    padding: 21px 0;
    padding-top: 76px;
  }

  .reviews__title {
    padding-bottom: 5px;
    font-size: 20px;
  }

  .reviews__list {
    padding-bottom: 33px;
  }

  .reviews__item--active {
    display: flex;
    flex-direction: column-reverse;
  }

  .reviews__subtitle {
    display: block;
    padding-top: 2px;
    font-size: 14.5px;
    font-weight: 100;
  }

  .reviews__description {
    padding-bottom: 34px;
    font-size: 18px;
  }

  .reviews__slider {
    padding-bottom: 3px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    position: relative;
    padding-bottom: 0;
    padding-top: 185px;
    background: url("./../img/icon-quotes.svg") no-repeat center 20%;
  }

  .reviews__item {
    max-width: 700px;
    margin: 0 auto;
  }

  .reviews__slider {
    display: none;
  }

  .reviews__title {
    font-size: 24px;
  }

  .reviews__subtitle {
    font-size: 18.5px;
  }

  .reviews__button {
    position: absolute;
    top: 210px;
    display: block;
    background: transparent;
    border: none;
    cursor: pointer;

    &--back {
      left: 5px;
    }

    &--next {
      right: 5px;
    }

    &:hover > .reviews__svg {
      fill: $darked-gray;
    }

    &:active > .reviews__svg {
      fill: $super-gray;
    }
  }

  .reviews__svg {
    fill: $super-dark-gray;
  }
}
