.site-navigation {
  display: block;
  padding: 0;
  margin: 0;
  border-top: 1px solid $black;
}

.site-navigation__item {
  padding: 14px 0;
  font-size: 18px;
  line-height: 32px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid $black;
  border-top: 1px solid $light-blue;

  a {
    color: $white;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;

    &:hover {
      color: $pink;
    }

    &:active {
      color: $pink;
      opacity: 0.5;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-navigation {
    display: flex;
    border: none;
  }

  .site-navigation__item {
    justify-content: space-between;
    padding: 0;
    padding-bottom: 4px;
    margin-left: 80px;
    font-weight: 400;
    text-transform: capitalize;
    border: none;

    a:active {
      color: $white;
    }

    &--active {
      border-bottom: 2px solid $white;
    }
  }
}
