.social__list {
  display: flex;
  justify-content: space-between;
}

.social__button {
  width: 20px;
  height: 20px;
  padding: 10px;
  border-radius: 50px;
  border: 3px solid $super-gray;
}

.social__image--twitter {
  padding: 0 0 2px 2px;
}

.social__image--facebook {
  padding: 0 0 1px 5px;
}

.social__image--youtube {
  padding: 0 0 3px 4px;
}

@media (min-width: $tablet-width) {
  .social__list {
    display: flex;
  }

  .social__button {
    width: 50px;
    height: 50px;
  }

  .social__image {
    padding: 0;
  }

  .social__image--twitter {
    transform: translate(3px, -1px);
  }

  .social__image--facebook {
    transform: translate(6px, 1px);
  }

  .social__image--youtube {
    transform: translate(5px, -1px);
  }
}
