.social {
  margin: 30px 0;
}

.social__list {
  display: flex;
  justify-content: space-between;
}

.social__button {
  width: 48px;
  height: 48px;
  margin: 0 6px;
  border-radius: 50px;
  border: 3px solid $super-gray;
}

.social__image {
  &--twitter {
    width: 18px;
    height: 14px;
    transform: translate(13px, 9px);
  }

  &--facebook {
    width: 9px;
    height: 18px;
    transform: translate(17px, 10px);
  }

  &--youtube {
    width: 15px;
    height: 13px;
    transform: translate(16px, 8px);
  }
}
