.user {
  background-color: $light-gray;
}

.user__photo--winner {
  margin-left: -20px;
}

.user__info {
  padding: 15px;
  padding-top: 5px;
  line-height: 24px;
}

.user__name {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

.user__data {
  margin-left: 5px;
  font-size: 12px;
  font-weight: 100;
  text-transform: uppercase;
}

.user__comment {
  margin: 0;
}

.user__likes {
  margin: 0;
  padding-top: 10px;
  font-size: 12px;
  font-weight: 100;
  text-transform: uppercase;
  color: $pink;
}

.user__heart {
  display: inline-block;
  width: 13px;
  height: 12px;
  margin-right: 15px;
  background: url("./../../img/icon-heart.svg");
}

@media (min-width: $tablet-width) {
  .user__photo {
    width: 300px;
    height: auto;

    &--winner {
      width: calc(100% + 80px);
      margin: 0 -40px;
    }
  }

  .user__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 155px;
    padding: 27px;
    padding-top: 15px;

    &--winner {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: baseline;
      min-height: auto;
    }
  }

  .user__info--winner > .user__name {
    order: 1;
  }

  .user__info--winner > .user__comment {
    order: 3;
  }

  .user__info--winner > .user__likes {
    align-self: flex-end;
    order: 2;
    padding: 0;
  }

  .user__likes {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
  }

  .user__heart {
    margin-right: 0;
    margin-left: 15px;
  }
}

@media (min-width: $desktop-width) {
  .user__photo--winner {
    width: calc(100% + 260px);
    height: 506px;
    margin: 0 -130px;
  }
}
