.user {
  background-color: $light-gray;
}

.user__photo--winner {
  display: block;
  width: 320px;
  height: 137px;
  margin-left: -20px;
  background-image: url("./../../img/panorama-mobile@1x.jpg");
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("./../../img/panorama-mobile@2x.jpg");
    background-size: 320px 137px;
    background-repeat: no-repeat;
  }
}

.user__info {
  padding: 18px;
  padding-top: 7px;
  line-height: 24px;

  &--winner {
    padding-top: 18px;
    padding-bottom: 17px;
  }
}

.user__name {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

.user__data {
  margin-left: 5px;
  font-size: 12px;
  font-weight: 100;
  text-transform: uppercase;
}

.user__comment {
  margin: 0;
  font-size: 14px;
}

.user__likes {
  margin: 0;
  padding-top: 10px;
  font-size: 12px;
  font-weight: 100;
  text-transform: uppercase;
  color: $pink;
}

.user__heart {
  display: inline-block;
  width: 13px;
  height: 12px;
  margin-right: 18px;
  background: url("./../../img/icon-heart.svg");
}

@media (min-width: $tablet-width) {
  .user__photo {
    min-width: 300px;
    min-height: 300px;

    &--winner {
      width: 700px;
      height: 509px;
      margin-left: -40px;
      background-image: url("./../../img/panorama-tablet@1x.jpg");
      background-repeat: no-repeat;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("./../../img/panorama-tablet@2x.jpg");
        background-size: 700px 509px;
        background-repeat: no-repeat;
      }
    }
  }

  .user__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 300px;
    min-height: 145px;
    padding: 27px;
    padding-bottom: 21px;
    padding-top: 12px;

    &--winner {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: baseline;
      max-width: 100%;
      min-height: auto;
      padding: 24px 27px;
    }
  }

  .user__info--winner > .user__name {
    order: 1;
  }

  .user__info--winner > .user__comment {
    order: 3;
  }

  .user__info--winner > .user__likes {
    align-self: flex-end;
    order: 2;
    padding: 0;
  }

  .user__comment {
    min-height: 48px;
  }

  .user__likes {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
  }

  .user__heart {
    margin-right: 0;
    margin-left: 15px;
  }
}

@media (min-width: $desktop-width) {
  .user__photo {
    min-height: 400px;

    &--winner {
      width: 1200px;
      height: 506px;
      margin: 0 -130px;
      background-image: url("./../../img/panorama-desktop@1x.jpg");
      background-repeat: no-repeat;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("./../../img/panorama-desktop@2x.jpg");
        background-size: 1200px 506px;
        background-repeat: no-repeat;
      }
    }
  }

  .user__info--winner {
    padding-top: 22px;
    padding-bottom: 0;
  }
}
