// colors
$white: #ffffff;

$light-grey: #f2f2f2;
$gray: #dddfe0;
$super-gray: #e9ebec;
$double-grey: #e5e5e5;
$dark-gray: #b5b9be;

$dark-blue: #283645;
$light-blue: #485461;

$black: #000000;
$pink: #d22856;
$green: #2aab6d;

// width viewports
$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 960px;

// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
